/* embeded fonts */
.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* universal style */
*{
    padding: 0;
    margin: 0;
}


/* shared style */

.text-primary
{
   text-align: center;
}


/* header section style */
header
{
    width: 1320px;
    height: 600px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    margin: 50px auto;
    border-radius: 16px;
    

}

.header-section
{
    padding: 175px 340px;
}

.header-section-subtittle
{
    font-weight: 400;
    font-size: 32px;
    color: white;
}

.header-section-tittle
{
    font-weight: 900;
    font-size: 72px;
    line-height: 95px;
    letter-spacing: 0%;
    color: white;
}

/* discount section */
.discount
{
    width: 882px;
    height: 886px;
    margin: 120px auto;
}

.discount-content-offer
{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.discount-content-subtittle
{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}

.discount-content-tittle
{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

/* midnight part section */
.midnight-party
{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url("../images/Vectorrr.png") ;
}

.midnight-party-items
{
    display: flex;
}

.party-tittle
{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin-top: 126px;
    margin-left: 126px;
    margin-bottom: 24px;
    margin-right: 94px;
}

.party-description
{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 126px;
    margin-bottom: 48px;
}

.button
{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;    
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 155px;

}

.midnight-party-img
{
    margin-top: 68px;
    margin-right: 108px;
}

/* location section */
.location
{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 120px auto;

}

.location-content
{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-align: center;
    padding: 100px 385px 48px 385px;
}

.location-item
{
    color: rgb(255, 0, 0);
}

.location-button
{ 
    text-align: center;
}

.btn
{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: none;
}


/* new year content */
.new-offer
{
    width: 1320px;
    height: 463px;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
}

.outer-circle {
       width: 463px;
       height: 463px;  
       box-sizing: border-box;
       border: 15px solid rgb(255, 0, 0);
       border-radius: 50%;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-top: 0px;
}

.new-offer-content
{
    width: 393px;
    height: 255px;
    margin-right: 70px;
    text-align: left;
    padding-top: 104px;
}


.new-offer-content-subtittle
{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    padding-bottom: 16px;
}

.new-offer-content-tittle
{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    /* text-align: left; */
    text-transform: capitalize;
}

.new-offer-content-description
{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 22px;
}


.new-offer-content2-left
{
    width: 276px;
    height: 170px;
    margin-left: 118px;
    margin-bottom: 43px;
    margin-top: 112px;
}

.new-offer-img1
{
    margin-left: 118px;
}

.new-offer-img
{
    align-items: center;
}
.new-offer-date
{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.new-offer-description
{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}